@font-face {
  font-family: 'Pluto Sans Black';
  src: url('../../assets/fonts/PlutoTVSansV10-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans Bold';
  src: url('../../assets/fonts/PlutoTVSansV10-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans ExtraBold';
  src: url('../../assets/fonts/PlutoTVSansV10-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans Light';
  src: url('../../assets/fonts/PlutoTVSansV10-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans Medium';
  src: url('../../assets/fonts/PlutoTVSansV10-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans Regular';
  src: url('../../assets/fonts/PlutoTVSansV10-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans SemiBold';
  src: url('../../assets/fonts/PlutoTVSansV10-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Pluto Sans Thin';
  src: url('../../assets/fonts/PlutoTVSansV10-Thin.otf') format('opentype');
}
