%headline1,
%headline2,
%headline3,
%headline5 {
  font-family: 'Pluto Sans SemiBold', sans-serif;
}

%headline4,
%headline6,
%headline7,
%headline8,
%headline9 {
  font-family: 'Pluto Sans Medium', sans-serif;
}

%headline1 {
  font-size: 3.885rem;
  line-height: 0.87;
}

%headline2 {
  font-size: 2.346rem;
  line-height: 1.29;
}

%headline3 {
  font-size: 1.462rem;
  line-height: 1.21;
}

%headline4 {
  font-size: 0.923rem;
  line-height: 1.07;
}

%headline5 {
  font-size: 0.654rem;
  line-height: 1.59;
}

%headline6 {
  font-size: 1.115rem;
  line-height: 1.34;
}

%headline7 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.34;
}

%button,
%buttonMobile,
%caption1,
%caption2,
%overline,
%subtitle1,
%subtitle2 {
  font-family: 'Pluto Sans SemiBold', sans-serif;
}

%body1,
%body2,
%body3 {
  font-family: 'Pluto Sans Medium', sans-serif;
}

%body1 {
  font-size: 1rem;
  line-height: 1.36;
}

%body2 {
  font-size: 0.885rem;
  line-height: 1.36;
}

%body3 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.29;
}

%button {
  font-size: 1.077rem;
  line-height: 1.36;
}

%buttonMobile {
  font-size: 0.577rem;
  letter-spacing: 0;
  line-height: 1.35;
}

%caption1 {
  font-size: 0.846rem;
  line-height: 1.25;
}

%caption2 {
  font-size: 0.808rem;
  line-height: 1.36;
}

%overline {
  font-size: 0.346rem;
  line-height: 1.23;
}

%subtitle1 {
  font-size: 0.769rem;
  line-height: 1.36;
}

%subtitle2 {
  font-size: 0.538rem;
  line-height: 1.58;
}

// TODO: Move to a more declarative way of using font.

%plutoSansBold {
  font-family: 'Pluto Sans Bold', sans-serif;
}

%plutoSansSemiBold {
  font-family: 'Pluto Sans SemiBold', sans-serif;
}

%plutoSansMedium {
  font-family: 'Pluto Sans Medium', sans-serif;
}

%splashTagline {
  font-size: 2.9rem;
  line-height: 3rem;

  @extend %plutoSansBold;
}
