@import 'reset-css/sass/reset';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: var(--background-color);
  height: 100%;
  line-height: 1.3;
  width: 100%;
}

.root {
    height: 100vh;
}

.image {
    background-image: url(/src/assets/images/CVR_0547_Sep2620_1246PM_CaliPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.paper {
    margin: 8px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}