@import "variables";
@import "font";
@import "typography";
@import "global";

html, body {
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar firefox */
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}